.hero-unit
  %h2 Update your social media status without distraction

  %p Ideal for those with restricted schedules. No registration required.

  %p= link_to 'Get started', '/auth/twitter', :class => 'btn primary large'
